@model Patient

@{
    ViewData["Title"] = "Delete";
}


<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Delete Patient</h4>
    <hr />
    <table class="table">
        <tbody>
            <tr>
                <th>Patient Age</th>
                <td>@Html.DisplayFor(model => model.Patient_Age)</td>
            </tr>
            <tr>
                <th>Patient Name</th>
                <td>@Html.DisplayFor(model => model.User.FirstName) @Html.DisplayFor(model => model.User.LastName)</td>
            </tr>
            <tr>
                <th>Patient Email</th>
                <td>@Html.DisplayFor(model => model.User.Email)</td>
            </tr>
            <tr>
                <th>Patient Gender</th>
                <td>@Html.DisplayFor(model => model.Patient_Gender)</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>
                    @{
                        string imageBase64 = Convert.ToBase64String(Model.Image);
                    }
                    <img src="data:image;base64,@imageBase64" style="width: 80px; height: 80px; border-radius: 50%;" alt="Profile Image">
                </td>
            </tr>
        </tbody>
    </table>

    <form asp-action="Delete">
        <input type="hidden" asp-for="PatientID" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="PatientRequest" class="btn btn-secondary">Back to List</a>
    </form>
</div>
