@model Patient

@{
    ViewData["Title"] = "Details";
}


<div class="container">
    <h4>Patient Details</h4>
    <hr />
    <div class="table-responsive">
        <table class="table">
            <tbody>
                <tr>
                    <th>Patient Name</th>
                    <td>@Html.DisplayFor(model => model.User.FirstName) @Html.DisplayFor(model => model.User.LastName)</td>
                </tr>
                <tr>
                    <th>Patient Email</th>
                    <td>@Html.DisplayFor(model => model.User.Email)</td>
                </tr>
                <tr>
                    <th>Patient Age</th>
                    <td>@Html.DisplayFor(model => model.Patient_Age)</td>
                </tr>
                <tr>
                    <th>Patient Gender</th>
                    <td>@Html.DisplayFor(model => model.Patient_Gender)</td>
                </tr>
                <tr>
                    <th>Patient Image</th>
                    <td>
                        @{
                            string imageBase64 = Convert.ToBase64String(Model.Image);
                        }
                        <img src="data:image;base64,@imageBase64" style="width: 80px; height: 80px; border-radius: 50%;" alt="Profile Image">
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.PatientID" class="btn btn-primary">Edit</a> |
    <a asp-action="PatientRequest" class="btn btn-secondary">Back to List</a>
</div>
