@model Patient
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Edit PatientProfile";
}
<style>
    body {
        background-image: url('/images/Profile.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }


    .form-control:focus {
        box-shadow: none;
        border-color: #BA68C8
    }

    .profile-button {
        background: rgb(99, 39, 120);
        box-shadow: none;
        border: none
    }

        .profile-button:hover {
            background: #682773
        }

        .profile-button:focus {
            background: #682773;
            box-shadow: none
        }

        .profile-button:active {
            background: #682773;
            box-shadow: none
        }

    .back:hover {
        color: #682773;
        cursor: pointer
    }

    .labels {
        font-size: 18px;
        font-weight: bold;
    }

    .add-experience:hover {
        background: #BA68C8;
        color: #fff;
        cursor: pointer;
        border: solid 1px #BA68C8
    }

    .validation-summary {
        margin-top: 10px;
        font-size: 14px;
        color: red;
    }

</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
</head>
<body>
    <form asp-action="EditProfile" asp-controller="Patients" method="post" enctype="multipart/form-data">
        @Html.HiddenFor(x => x.PatientID)
        <div class="container rounded bg-white mt-5 mb-5">
            <div class="row overlay">
                <div class="col-md-12">
                    <div asp-validation-summary="All" class="validation-summary"></div>
                </div>
                <div class="col-md-3 border-right">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                        @{
                            string imageBase64 = Model.Image != null ? Convert.ToBase64String(Model.Image) : string.Empty;
                            <input type="hidden" asp-for="Image" value="@imageBase64" />
                            <img id="profile-image" class="rounded-circle mt-5" width="150" src="data:image;base64,@imageBase64">


                            <span class="font-weight-bold">@Model.User?.FirstName @Model.User?.LastName</span>
                            <span class="text-black-50">@Model.User?.Email</span>

                            <span> </span>
                        }

                    </div>
                    <input type="file" name="FormFile" id="file-input" asp-for="Image" style="display: none;" accept="image/*" onchange="previewImage(event)">
                    <button type="button" class="btn btn-primary btn-sm d-block mx-auto" onclick="document.getElementById('file-input').click();">Change Profile Picture</button>
                    <br>
                    <p style="color: #6c757d;">Feel free to customize your profile and upload a new picture. We aim to provide a stylish and informative page for you.</p>

                </div>
                <div class="col-md-5 border-right">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Profile Information</h4>
                        </div>
                        <div class="row mt-2">
                            <input type="hidden" asp-for="User.Role" value="@Model.User.Role" />
                            <div class="col-md-6">
                                <label class="labels">First Name</label>
                                <input asp-for="User.FirstName" class="form-control" placeholder="first name" value="@Model.User?.FirstName">
                                <span asp-validation-for="User.FirstName" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label class="labels">Last Name</label>
                                <input asp-for ="User.LastName" class="form-control" placeholder="surname" value="@Model.User?.LastName">
                                <span asp-validation-for="User.LastName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <label class="labels">Username</label>
                                <input asp-for="User.UserName" class="form-control" placeholder="Username" value="@Model.User.UserName">
                                <span asp-validation-for="User.UserName" class="text-danger"></span>
                            </div>
                            <div class="col-md-12">
                                <label class="labels">Mobile Number</label>
                                <input asp-for="User.PhoneNumber" class="form-control" placeholder="enter phone number" maxlength="13" value="@Model.User?.PhoneNumber">
                                <span asp-validation-for="User.PhoneNumber" class="text-danger"></span>
                            </div>
                            <div class="col-md-12">
                                <label class="labels">Email</label>
                                <input asp-for="User.Email" class="form-control" placeholder="Email" value="@Model.User?.Email" readonly>
                                <span asp-validation-for="User.Email" class="text-danger"></span>
                            </div>
                            <div class="col-md-12">
                                <label class="labels">Age</label>
                                <input asp-for="Patient_Age" class="form-control" placeholder="Age" value="@Model.Patient_Age">
                                <span asp-validation-for="Patient_Age" class="text-danger"></span>
                            </div>
                            <div class="col-md-12">
                                <label class="labels">Gender</label>
                                <input asp-for="Patient_Gender" class="form-control" placeholder="Gender" value="@Model.Patient_Gender" readonly>
                                <span asp-validation-for="Patient_Gender" class="text-danger"></span>
                            </div>
                            <div class="col-md-12">
                                <label class="labels">Status</label>
                                <input asp-for="Patient_Status" class="form-control" placeholder="Status" value="@Model.Patient_Status" readonly>
                                <span asp-validation-for="Patient_Status" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="mt-5 text-center">
                            <input type="submit" value="Save Changes" class="btn btn-success" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center experience">
                            <h4 class="text-right">Consultation Info:</h4>
                            <span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Response</span>
                        </div>
                        <br>
                        <div class="col-md-12">
                            <label class="labels" for="additionalDetails">Your Consultation:</label>
                            @{
                                var consultationNotes = (List<Consultation>)ViewBag.Consult;
                            }
                            @if (consultationNotes != null && consultationNotes.Count > 0)
                            {
                                <textarea id="additionalDetails" class="form-control" rows="12" cols="25" readonly>
                                    @{
                                        var uniqueConsults = new HashSet<string>();

                                        for (var i = 0; i < consultationNotes.Count; i++)
                                        {
                                            var currentConsult = consultationNotes[i];

                                            if (uniqueConsults.Add(currentConsult.Notes))
                                            {
                                                if (i > 0)
                                                {
                                                    bool isNewDoctor = false;
                                                    for (var j = 0; j < i; j++)
                                                    {
                                                        var previousConsult = consultationNotes[j];
                                                        if (previousConsult.DoctorID != currentConsult.DoctorID)
                                                        {
                                                            isNewDoctor = true;
                                                            break;
                                                        }
                                                    }

                                                    if (isNewDoctor)
                                                    {
                                                        @Html.Raw("\n\n")
                                                    }
                                                    else
                                                    {
                                                        @Html.Raw("\n")
                                                    }
                                                }

                                                @Html.Raw($"Consultation sent to Dr. {currentConsult.Doctor.User?.FirstName} {currentConsult.Doctor.User?.LastName}:\n")
                                                @Html.Raw($"Patient Name: {currentConsult.FirstName} {currentConsult.LastName},\n")
                                                @Html.Raw($"Date: {currentConsult.Date},\n")
                                                @Html.Raw($"Details: {currentConsult.Notes}\n")
                                                @Html.Raw(".........................................\n")
                                            }
                                        }
                                    }
                                   </textarea>



                            }
                            else
                            {
                                <p>No Information Provided</p>
                            }


                        </div>

                        <br>

                        <div class="col-md-12">
                            <label class="labels" for="consultationResponse">Doctors Response:</label>
                            @{
                                var noteResponse = (List<DoctorNoteToPatient>)ViewBag.NoteResponse;
                            }
                            @if (noteResponse != null && noteResponse.Count > 0)
                            {
                                <textarea id="consultationResponse" class="form-control" rows="12" cols="25" readonly>
                                    @{
                                        foreach (var note in noteResponse)
                                        {
                                            if (note != noteResponse.FirstOrDefault())
                                            {
                                                var previousNote = noteResponse[noteResponse.IndexOf(note) - 1];
                                                if (previousNote.DoctorID != note.DoctorID)
                                                {
                                                    @Html.Raw("\n------------------\n")
                                                }
                                                else
                                                {
                                                    @Html.Raw("\n")
                                                }
                                            }
                                            @("From Dr ") @note.Doctor.User?.FirstName @(" ") @note.Doctor.User?.LastName @(": ") @("\n")
                                            @note.DoctorNote @("\n")
                                            @("Response Time:") @(" ") @note.MessageTime
                                            @if (!note.Equals(noteResponse.Last()))
                                            {
                                                @Html.Raw("\n\n")
                                            }
                                        }
                                    }
                                    </textarea>
                            }
                            else
                            {
                                <p>No response from doctors.</p>
                            }

                        </div>


                        <br><hr>
                        <div class="d-flex justify-content-between align-items-center experience">
                            <h4>Visa Information</h4>
                            <span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Visa</span>
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Visa Number:</label>
                            @{
                                var visiblePart = "";
                                var visaNumber = ViewBag.VisaNumber;
                                if (visaNumber != null)
                                {
                                    visiblePart = new string('*', visaNumber.Length - 4) + visaNumber.Substring(visaNumber.Length - 4, 4);
                                }
                            }
                            @if (ViewBag.VisaNumber != null && ViewBag.Visa != null)
                            {
                                <input id="VisaNumber" type="text" class="form-control" placeholder="Visa Number" value="@visiblePart" readonly />
                                <a asp-action="Delete" asp-controller="Visas" asp-route-id="@ViewBag.Visa.VisaId" class="btn btn-danger ml-3">Delete Visa</a>
                            }

                            else
                            {
                                <p>No Visa Added.</p>
                            }
                        </div>

                        <div class="col-md-12">
                            <label class="labels">Exp Date:</label>

                            @{
                                var ExpDate = ViewBag.ExpDate;
                            }
                            @if (ExpDate != null)
                            {

                                <input id="responseTime" type="text" class="form-control" placeholder="Current Time" value="@ExpDate" readonly />

                            }
                            else
                            {
                                <p>No Exp Date.</p>
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        function previewImage(event) {
            var input = event.target;
            var reader = new FileReader();

            reader.onload = function () {
                var imgElemnt = document.getElementById("profile-image");
                imgElemnt.src = reader.result;
            };
            reader.readAsDataURL(input.files[0]);
        }

    </script>

</body>
</html>
