@model Patient
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Patient Profile";
}
<style>
    body {
        background-image: url('/images/Profile.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }


    .form-control:focus {
        box-shadow: none;
        border-color: #BA68C8
    }

    .profile-button {
        background: rgb(99, 39, 120);
        box-shadow: none;
        border: none
    }

        .profile-button:hover {
            background: #682773
        }

        .profile-button:focus {
            background: #682773;
            box-shadow: none
        }

        .profile-button:active {
            background: #682773;
            box-shadow: none
        }

    .back:hover {
        color: #682773;
        cursor: pointer
    }

    .labels {
        font-size: 18px;
        font-weight: bold;
    }

    .add-experience:hover {
        background: #BA68C8;
        color: #fff;
        cursor: pointer;
        border: solid 1px #BA68C8
    }

</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row overlay">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    @{

                        string imageBase64 = Model.Image != null ? Convert.ToBase64String(Model.Image) : string.Empty;
                        <img class="rounded-circle mt-5" width="150" src="data:image;base64,@imageBase64">


                        <span class="font-weight-bold">@Model.User?.FirstName @Model.User?.LastName</span>

                        <span class="text-black-50">@Model.User?.Email</span>

                        <span> </span>


                    }
                </div>
                <p class="description" style="color: #6c757d;">Feel free to customize your profile and upload a new picture. We aim to provide a stylish and informative page for you.</p>

            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Information</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <label class="labels">First Name</label>
                            <input type="text" class="form-control" placeholder="first name" value="@Model.User?.FirstName" readonly>
                        </div>
                        <div class="col-md-6">
                            <label class="labels">Last Name</label>
                            <input type="text" class="form-control" placeholder="Last name" value="@Model.User?.LastName" readonly>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label class="labels">Username</label>
                            <input type="text" class="form-control" placeholder="Username" value="@Model.User?.UserName" readonly>
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Mobile Number</label>
                            <input type="text" class="form-control" placeholder="enter phone number" value="@Model.User?.PhoneNumber" readonly>
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Email</label>
                            <input type="text" class="form-control" placeholder="Email" value="@Model.User?.Email" readonly>
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Age</label>
                            <input type="text" class="form-control" placeholder="Age" value="@Model.Patient_Age" readonly>
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Gender</label>
                            <input type="text" class="form-control" placeholder="Gender" value="@Model.Patient_Gender" readonly>
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Status</label>
                            <input type="text" class="form-control" placeholder="Status" value="@Model.Patient_Status" readonly>
                        </div>
                    </div>

                    <div class="mt-5 text-center"><a asp-action="EditProfile" asp-controller="Patients" asp-route-id="@Model.PatientID" class="btn btn-primary profile-button">Edit Profile</a></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center experience">
                        <h4 class="text-right">Consultation Info:</h4>
                        <span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Response</span>
                    </div>
                    <br>
                    <div class="col-md-12">
                        <label class="labels" for="additionalDetails">Your Consultation:</label>
                        @{
                            var consultationNotes = (List<Consultation>)ViewBag.Consult;
                        }
                        @if (consultationNotes != null && consultationNotes.Count > 0)
                        {
                            <textarea id="additionalDetails" class="form-control" rows="12" cols="25" readonly>
                                @{
                                    var uniqueConsults = new HashSet<string>();

                                    for (var i = 0; i < consultationNotes.Count; i++)
                                    {
                                        var currentConsult = consultationNotes[i];

                                        if (!uniqueConsults.Contains(currentConsult.Notes))
                                        {
                                            uniqueConsults.Add(currentConsult.Notes);
                                            if (i > 0)
                                            {
                                                bool isNewDoctor = false;
                                                for (var j = 0; j<i; j++)
                                                {
                                                    var previousConsult = consultationNotes[j];
                                                    if (previousConsult.DoctorID != currentConsult.DoctorID)
                                                    {
                                                        isNewDoctor = true;
                                                        break;
                                                    }
                                                }

                                                if (isNewDoctor)
                                                {
                                                    @Html.Raw("\n\n")
                                                }
                                           
                                                else
                                                {
                                                    @Html.Raw("\n")
                                                }
                                            }

                                            @Html.Raw($"Consultation sent to Dr. {currentConsult.Doctor.User?.FirstName} {currentConsult.Doctor.User?.LastName}:\n")
                                            @Html.Raw($"Patient Name: {currentConsult.FirstName} {currentConsult.LastName},\n")
                                            @Html.Raw($"Date: {currentConsult.Date},\n")
                                            @Html.Raw($"Details: {currentConsult.Notes}\n")
                                            @Html.Raw(".........................................\n")
                                        }
                                    }
                                }
                               </textarea>



                        }
                        else
                        {
                            <p>No Information Provided</p>
                        }


                    </div>

                    <br>

                    <div class="col-md-12">
                        <label class="labels" for="consultationResponse">Doctors Response:</label>
                        @{
                            var noteResponse = (List<DoctorNoteToPatient>)ViewBag.NoteResponse;
                        }
                        @if (noteResponse != null && noteResponse.Count > 0)
                        {
                            <textarea id="consultationResponse" class="form-control" rows="12" cols="25" readonly>
                                @{
                                    foreach (var note in noteResponse)
                                    {
                                        if (note != noteResponse.FirstOrDefault())
                                        {
                                            var previousNote = noteResponse[noteResponse.IndexOf(note) - 1];
                                            if (previousNote.DoctorID != note.DoctorID)
                                            {
                                                @Html.Raw("\n------------------\n")
                                            }
                                            else
                                            {
                                                @Html.Raw("\n")
                                            }
                                        }
                                        @("From Dr ") @note.Doctor.User?.FirstName @(" ") @note.Doctor.User?.LastName @(": ") @("\n")
                                        @note.DoctorNote @("\n")
                                        @("Response Time:") @(" ") @note.MessageTime
                                        @if (!note.Equals(noteResponse.Last()))
                                        {
                                            @Html.Raw("\n\n")
                                        }
                                    }
                                }
                                    </textarea>
                        }
                        else
                        {
                            <p>No response from doctors.</p>
                        }

                    </div>


                    <br><hr>
                    <div class="d-flex justify-content-between align-items-center experience">
                        <h4>Visa Information</h4>
                        <span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Visa</span>
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Visa Number:</label>
                        @{
                            var visiblePart = "";
                            var visaNumber = ViewBag.VisaNumber;
                            if (visaNumber != null)
                            {
                                visiblePart = new string('*', visaNumber.Length - 4) + visaNumber.Substring(visaNumber.Length - 4, 4);
                            }
                        }
                        @if (ViewBag.VisaNumber != null)
                        {
                            <input id="VisaNumber" type="text" class="form-control" placeholder="Visa Number" value="@visiblePart" readonly />

                        }
                        else
                        {
                            <p>No Visa Added.</p>
                        }
                    </div>

                    <div class="col-md-12">
                        <label class="labels">Exp Date:</label>

                        @{
                            var ExpDate = ViewBag.ExpDate;
                        }
                        @if (ExpDate != null)
                        {

                            <input id="responseTime" type="text" class="form-control" placeholder="Current Time" value="@ExpDate" readonly />

                        }
                        else
                        {
                            <p>No Exp Date.</p>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
