@model Doctor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Doctor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor_Specialization)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor_Specialization)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor_Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor_Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor_Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor_Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor_YearsOfExperience)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor_YearsOfExperience)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoctorStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContentType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContentType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DoctorID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
