@model IEnumerable<Doctor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor_Specialization)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor_Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor_Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor_YearsOfExperience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Certificate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Doctor_Specialization)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Doctor_Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Doctor_Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Doctor_YearsOfExperience)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DoctorStatus)
                </td>
                <td>
                    @{
                        string imageBase64 = item.Image !=null ?Convert.ToBase64String(item.Image): string.Empty;
                    }
                    <img src="data:image;base64,@imageBase64" style="width: 80px; height: 80px; border-radius: 50%;" alt="Profile Image">
                </td>
                <td>
                    @{
                        string imageBase64_2 = item.Certificate != null? Convert.ToBase64String(item.Certificate): string.Empty;
                    }
                    <img src="data:image;base64,@imageBase64_2" style="width: 80px; height: 80px; border-radius: 50%;" alt="Doctor Certificate">
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DoctorID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.DoctorID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.DoctorID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
