@model HealthProvisor.Models.Testimonial

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Testimonial</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestimonialStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestimonialStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestimonialMessage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestimonialMessage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient.PatientID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TestimonialID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
