@model HealthProvisor.Models.Consultation

@{
    ViewData["Title"] = "Delete";
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class="container">
    <h1 class="text-danger">Delete</h1>

    <div class="confirmation-box">
        <h3>Are you sure you want to delete this?</h3>
        <div class="table-responsive">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th scope="row">Patient Name</th>
                        <td>@Html.DisplayFor(model => model.Patient.User.FirstName) @Html.DisplayFor(model => model.Patient.User.LastName)</td>
                    </tr>
                    <tr>
                        <th scope="row">Patient Email</th>
                        <td>@Html.DisplayFor(model => model.Patient.User.Email)</td>
                    </tr>
                    <tr>
                        <th scope="row">Patient Status</th>
                        <td>@Html.DisplayFor(model => model.Patient.Patient_Status)</td>
                    </tr>
                    <tr>
                        <th scope="row">Patient Age</th>
                        <td>@Html.DisplayFor(model => model.Patient.Patient_Age)</td>
                    </tr>
                    <tr>
                        <th scope="row">Patient Gender</th>
                        <td>@Html.DisplayFor(model => model.Patient.Patient_Gender)</td>
                    </tr>
                    <tr>
                        <th scope="row">Date</th>
                        <td>@Html.DisplayFor(model => model.Date)</td>
                    </tr>
                    <tr>
                        <th scope="row">Notes</th>
                        <td>@Html.DisplayFor(model => model.Notes)</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <form asp-action="Delete">
            <input type="hidden" asp-for="ConsultationID" />
            <div class="form-group">
                <button type="submit" class="btn btn-danger">Delete</button>
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>
