@model IEnumerable<HealthProvisor.Models.Visa>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CVC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VisaNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CVC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisaNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.UserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VisaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VisaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VisaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
