@model HealthProvisor.Models.DoctorNoteToPatient

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_DoctorLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>DoctorNoteToPatient</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConsultationDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConsultationDetails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorNote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoctorNote)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MessageTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MessageTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient.PatientID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Consultation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Consultation.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor.DoctorID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
