@model IEnumerable<HealthProvisor.Models.DoctorNoteToPatient>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DoctorLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ConsultationDetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorNote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MessageTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consultation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ConsultationDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorNote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MessageTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.PatientID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Consultation.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.DoctorID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
